* {
    margin: 0;
    padding: 0;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: transparent;
}
.logo {
    width: 100px;
    height: 100px;
}
.main-menu {
    text-align: right;
}
.main-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-menu li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.main-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-family: rockwell;
}
h1 {
    color: #fff;
}
.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-top: 75px;
}
article {
    border: 1px solid #ccc;
    padding: 10px;
    font-family: rockwell;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
}
article h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 75px;
}
.article-image1 {
    width: 365px;
    height: 285px;
    display: block;
    margin: 0 auto;
    background-position: center center;
    margin-top: 50px;
}
.article-image2 {
    width: 210px;
    height: 330px;
    display: block;
    margin: 0 auto;
    background-position: center center;
    margin-top: 15px;
}
.article-image3 {
    width: 375px;
    height: 275px;
    display: block;
    margin: 0 auto;
    background-position: center center;
    margin-top: 50px;
}
.logo:hover {
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}
.main-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-family: rockwell;
    transition: color 0.3s ease-in-out;
}
.main-menu a:hover {
    color: blue;
}
.current-page {
    font-weight: bold;
    color: #39B54A;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    text-align: center;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.article-image1:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.article-image2:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.article-image3:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.cruise-item1 {
    width: 35%;
    height: auto;
}
.cruise-item2 {
    width: 35%;
    height: auto;
}
.cruise-item3 {
    width: 35%;
    height: auto;
}
.cruise-article {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cruise-info {
    flex: 1;
    text-align: center;
}
.cruise-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.cruise-info p {
    font-size: 18px;
}
.contact-article {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.contact-article button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.contact-article button:hover {
    background-color: #333;
}
.input-container {
    margin-bottom: 20px;
}
.input-container input,
.input-container textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
